//colors
$white: #fff;
$platinum: #e6e7e7;
$light_gray: #d1d1d1;
$fuzzy_wuzzy: #e56353;
$ruddy_pink: #d76c69;
$spanish_pink: #ecbcba;
$eerie_black: #121619;
$raisin_black: #222323;
$nickel: #6c6e70;
// Tipography
// Font Weight
$font-black: 900;
$font-regular: 400;
$font-light: 300;

// Font Sizes
$font-xx-large: 70px;
$font-x-large: 30px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

// Font Family
$font-accent: "Playfair Display", serif;
$font-primary: "Roboto", sans-serif;

//Font-style

$italic: italic;

//custon-toggle
$toggle-color: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

//bordes
$line_borde:#707071;
$link_active:#dE8684;
$borde_pag: #ddd;