.main {
  padding: 1rem;
  margin: 2rem;
  @media (max-width: 576px) {
    margin: .2rem;
    
  }
  &__paragraph {
    padding: 0.5rem;
  }
  &__span {
    color: $fuzzy_wuzzy;
  }
}
.main__paragraph__dos {
  @media (max-width: 576px) {
    display: none;
  }
}
